.modal-header {
  background-color: #d1ffdc;
}

.modal-b {
  color: #ffffff;
  background-color: #ffffff;
  background-image: linear-gradient(4deg, #25d04e, #39a46f);
  font-size: 14px;
  text-transform: uppercase;
  min-width: 106px;
  width: 180px;
  height: 39px;
  line-height: 39px;
  border-radius: 50px;
  letter-spacing: 0;
  padding-top: 0rem;
  margin-left: 9rem;
}

.modal-p {
  display: flex;
  gap: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  justify-content: center;
}
body h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

body h2 {
  background-color: #25d04e;
  background-image: linear-gradient(4deg, #25d04e, #39a46f);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #25d04e;
}
.modal-p span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
}
.modal-header img {
  display: block;
  margin-left: 3rem;
  margin-right: auto;
  margin-bottom: 0;
  width: 344px;
  height: 193px;
}
